
{% if report.category is not empty %}
    {% set cate=report.category.0 %}
{% else %}
    {% set cate='abstract' %}
{% endif %}

<div class="col-md-4 news-item">
<h2 class="title"><a href="{{report.url}}">{{report.title}}</small></a></h2>
<img class="thumb" src="http://lorempixel.com/100/100/{{cate}}"  alt="{{report.title}} | {{cate}}" />
{{report.content|striptags|truncate(70)}}
<a class="read-more" href="{{report.url}}">全文 <i class="fa fa-chevron-right"></i></a>
</div>
